// app global css in Stylus form
.q-drawer--left
    background $primary
.q-drawer--right
    background $secondary
.qu-card
    margin 10px 0
.qu-icon
    position absolute
    right 20px
    top 20px